$padding_desktop: 70px;
$home_page_color: #EBB96E;
$main_font: sans-serif;

.main_container {
  padding: 0 $padding_desktop;
  height: 100vh;
  display: flex;
  background-image: url('../../images/background-1.jpg');
  background-size: cover;
  background-position: center;

  &-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
  }

  &-title {
    font-size: $main_font;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 55px;
  }
}

.menu_container {
  display: flex;
  justify-content: center;
}
